body, html {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Raleway', 'Helvetica', 'Verdana', sans-serif;
}

h1 {
  text-align: center;
  font-weight: 400;
}

canvas {
  margin: auto;
}

.market {
  color: rgba(51,160,44, 1);
}

.closing {
  color: rgba(31,120,180, 1);
}

[data-chart=breakdown]::before {
  content: attr(data-sub) ' ';
}

.chart-wrapper {
  display: block;
  width: 90%;
  height: auto;
  overflow: auto;
  margin: auto;
}

.loading::after {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.loading::after {
  content: 'Loading...';
  font-weight: 100;
}
